{% from 'macros.html' import text_input %}
<script>
    select_sub_tab("create");
</script>

<form id="vstack-form" hx-target="#sub-content" hx-post="{{ url_for('repositories.create_repo') }}">

    <div class="row mb-3">
        <div class="col">
            {{ text_input("Path", "path", value="/tmp/borgdrone") }}
        </div>
        <div class="col">
            <label for="encryption" class="form-label">Encryption</label>
            <select id="encryption" class="form-select" name="encryption">
                <option value="none" selected>none</option>
            </select>
        </div>
    </div>

    <div class="hstack">
        <button type="submit" class="btn btn-secondary ms-auto mt-3">Create</button>
    </div>


</form>
