{% from 'macros.html' import text_input %}
<script>
    select_sub_tab("import");
</script>

<form id="vstack-form" hx-target="#sub-content" hx-post="{{ url_for('repositories.import_repo') }}">

    <div class="row mb-3">
        <div class="col">
            {{ text_input(label="Path", name="path") }}
        </div>
        <div class="col">
            {{ text_input(label="Passphrase", name="passphrase", password=false) }}
        </div>
    </div>
    <div id="stats">
    </div>
    <div class="hstack">
        <div class="btn-group ms-auto mt-3">
            <button class="btn btn-secondary "
                type="button"
                hx-target="#stats"
                hx-swap="innerHTML"
                hx-include="[name='path']"
                hx-post="{{ url_for('repositories.get_repository_info') }}">
                Check Path
            </button>
            <button type="submit" class="btn btn-secondary">
                Import
            </button>
            <button class="btn btn-danger"
                type="button"
                hx-target="#sub-content"
                hx-get="{{ url_for('repositories.import_repo') }}">
                Reset Form
            </button>
        </div>
    </div>

</form>
