<div class="p-2 border-bottom bg-body-tertiary mb-2">
    <div class="hstack gap-3">
        <div class="vstack">
            <h5>borgdrone</h5>
            <h6>Login to proceed.</h6>
        </div>
    </div>
</div>

<form method="post" class="p-2">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <div class="mb-3">
        <label for="remember" class="form-label">Remember me</label>
        <input type="checkbox" class="form-check-input" name="remember" id="remember">
    </div>
    <button type="submit" class="btn btn-primary" value="Log In">Submit</button>
</form>
