{% for repo in repos %}
<div class="vstack mb-4 shadow border" hx-target="this">
    <div class="btn-group">
        <button class="btn btn-danger btn-sm"
            hx-delete="{{ url_for('repositories.delete_repo', repo_id=repo.id) }}">
            <i class="bi bi-trash3-fill"></i> Delete
        </button>
        <button class="btn btn-primary btn-sm" hx-target="this" hx-swap="none"
            hx-post="{{ url_for('repositories.update_stats', repo_id=repo.id) }}">
            <i class="bi bi-arrow-clockwise"></i> Refresh
        </button>
    </div>
    <table class="table transparent-table">
        <tr>
            <th>Path</th>
            <td>{{ repo.path }}</td>
        </tr>
        <tr>
            <th>Encryption</th>
            <td>{{ repo.encryption_mode }}</td>
        </tr>
        <tr>
            <th>Last Modified</th>
            <td>{{ repo.last_modified }}</td>
        </tr>
        <tr>
            <th>ID</th>
            <td>{{ repo.id }}</td>
        </tr>
        <tr>
            <th>Cache</th>
            <td>{{ repo.cache_path }}</td>
        </tr>
        <tr>
            <th>Security Dir</th>
            <td>{{ repo.security_dir }}</td>
        </tr>
    </table>
    <hr>
    <table class="table transparent-table">
        <thead>
            <tr>
                <th class="borg-green" scope="col">total_size</th>
                <th class="borg-green" scope="col">total_csize</th>
                <th class="borg-green" scope="col">unique_size</th>
                <th class="borg-green" scope="col">unique_csize</th>
                <th class="borg-green" scope="col">total_chunks</th>
                <th class="borg-green" scope="col">total_unique_chunks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ convert_bytes(repo.total_size) }}</td>
                <td>{{ convert_bytes(repo.total_csize) }}</td>
                <td>{{ convert_bytes(repo.unique_size) }}</td>
                <td>{{ convert_bytes(repo.unique_csize) }}</td>
                <td>{{ repo.total_chunks }}</td>
                <td>{{ repo.total_unique_chunks }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}
