@font-face {
  font-family: "BlackOpsOne";
  src: url("fonts/BlackOpsOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: #000000;
}

#sidebar {
  background-color: #000000;
}

#sidebar .list-group-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #ced4da;
  font-size: large;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", monospace;
  font-weight: 900;
}

#content.htmx-swapping {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

#content.htmx-added {
  opacity: 0;
}

#content {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

#sidebar .list-group-item:hover {
  color: #11d421;
}

#sidebar .list-group-item.selected {
  color: #11d421;
}

#logo {
  font-family: "BlackOpsOne";
  color: #04db04;
  font-size: 40px;
}

.borg-green {
  color: #04db04 !important;
}

.transparent-table {
  background-color: transparent;
}

.transparent-table thead,
.transparent-table tbody,
.transparent-table tfoot,
.transparent-table th,
.transparent-table td {
  background-color: transparent;
  border: none;
}
